header {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    justify-content: center;
}

#mostPopularGames {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.singleGameOut {
    width: 15vw;
    height: 40vh;
    overflow: hidden;

    border: 1px solid black;
    border-radius: 10px;
}

.singleGameIn {
    /* Make the inner container perfectly fill the fixed outer container */
    width: 100%;
    height: 100%;
    overflow: hidden;

    /* Use flexbox to organize the content inside the card */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    border-radius: 10px;
}

.singleGameHeroDiv {
    width: 100%;
    height: 75%;
}

.singleGameHeroImg {
    /* Force the image to take up exactly the top portion of the card */
    width: 100%;
    height: 100%;
    /* cover ensures the image fills the space without squishing or stretching */
    object-fit: cover;
    margin-bottom: 10px;
    /* Adds a little space below the image */
}

.singleGameBelow {
    width: 100%;
    height: 25%;
}

.singleGameTitle {
    margin: 0px 5px 5px 5px;
}

.singleGameBtns {
    display: flex;
    margin: 0px 5px 5px 5px;
}

.addToWishListBtn {
    height: 3vh;
    border-radius: 5px;
}

.addToWishListBtnInCart {
    max-width: 20vw;
}

.purchaseBtn {
    height: 3vh;
    border-radius: 5px;
}